html {
  font-weight: 100;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-Row {
  display: flex;
  flex-direction: row;
}

.App-Column {
  display: flex;
  flex-direction: column;
}

.Button-Container {
  padding: 0;
  border: 0;
  flex: 1;
}

.Button-Key {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  border: 1px solid lightgray;
}

.MenuButton-Container {
  padding: 0;
  border: 0;
  height: 44px;
}

.MenuButton-Key {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  border: 1px solid lightgray;
}

.Item-Container {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgray;
}

.Category {
  width: 90%;
  margin: auto;
}

.Category-Name {
  width: 90%;
  margin: auto;
  word-wrap: normal;
}
